---
on:
  workflow_call:
    inputs:
      enable-cloudflare-tfvars:
        default: false
        required: false
        type: boolean
      enable-cost:
        default: true
        required: false
        type: boolean
      enable-pre-commit:
        default: true
        required: false
        type: boolean
      enable-security:
        default: true
        required: false
        type: boolean
    secrets:
      CLOUDFLARE_CONFIG:
        required: false
      INFRACOST_API_KEY:
        required: true

jobs:
  pre-commit:
    name: Pre-Commit
    uses: "benniemosher-dev/.github/.github/workflows/pre-commit-terraform.yml@main"
    if: ${{ inputs.enable-pre-commit == true }}

  security:
    name: Security
    uses: "benniemosher-dev/.github/.github/workflows/sec-terraform.yml@main"
    if: ${{ inputs.enable-security == true }}

  cost:
    name: Cost
    uses: "benniemosher-dev/.github/.github/workflows/cost-terraform.yml@main"
    if: ${{ inputs.enable-cost == true }}
    secrets:
      CLOUDFLARE_CONFIG: ${{ secrets.CLOUDFLARE_CONFIG }}
      INFRACOST_API_KEY: ${{ secrets.INFRACOST_API_KEY }}
    with:
      enable-cloudflare-tfvars: ${{ inputs.enable-cloudflare-tfvars }}
