---
on:
  workflow_call:
    inputs:
      enable-cloudflare-tfvars:
        required: false
        type: boolean
        default: false
    secrets:
      CLOUDFLARE_CONFIG:
        required: false
      INFRACOST_API_KEY:
        required: true

jobs:
  cost:
    runs-on: ubuntu-latest
    env:
      TF_ROOT: .

    steps:
      - name: Setup Infracost
        uses: infracost/actions/setup@v3
        with:
          api-key: ${{ secrets.INFRACOST_API_KEY }}

      - name: Cache the Infracost baseline JSON result
        id: cache-infracost-base-json
        uses: actions/cache@v5
        with:
          path: "/tmp/infracost-base.json"
          key: infracost-base-json-${{ runner.os }}-${{ github.event.pull_request.base.sha || github.sha }}

      - name: Checkout base branch
        uses: actions/checkout@v6
        with:
          ref: "${{ github.event.pull_request.base.ref }}"

      - name: Configure Cloudflare Secrets
        run: 'echo "$CLOUDFLARE_CONFIG" > ${TF_ROOT}/cloudflare.auto.tfvars'
        shell: bash
        env:
          CLOUDFLARE_CONFIG: ${{secrets.CLOUDFLARE_CONFIG}}
        if: ${{ inputs.enable-cloudflare-tfvars }}

      - name: Cache .infracost/terraform_modules for target branch
        uses: actions/cache@v5
        with:
          path: |
            ${{ env.TF_ROOT }}/**/.infracost/terraform_modules/**
            !${{ env.TF_ROOT }}/**/.infracost/terraform_modules/**/.git/**
          key: infracost-terraform-modules-${{ runner.os }}-${{ github.event.pull_request.base.sha || github.sha }}
          restore-keys: infracost-terraform-modules-${{ runner.os }}-
        if: steps.cache-infracost-base-json.outputs.cache-hit != 'true'

      - name: Generate Infracost cost estimate baseline
        run: |
          infracost breakdown \
                              --config-file=${TF_ROOT}/infracost.yml \
                              --format=json \
                              --out-file=/tmp/infracost-base.json
        if: steps.cache-infracost-base-json.outputs.cache-hit != 'true'

      - name: Checkout PR branch
        uses: actions/checkout@v6
        with:
          clean: false
        if: github.event_name == 'pull_request'

      - name: Cache .infracost/terraform_modules dir for PR branch
        uses: actions/cache@v5
        with:
          path: |
            ${{ env.TF_ROOT }}/**/.infracost/terraform_modules/**
            !${{ env.TF_ROOT }}/**/.infracost/terraform_modules/**/.git/**
          key: infracost-terraform-modules-${{ runner.os }}-${{ github.event.pull_request.head.sha }}
          restore-keys: |
            infracost-terraform-modules-${{ runner.os }}-${{ github.event.pull_request.base.sha }}
            infracost-terraform-modules-${{ runner.os }}-
        if: github.event_name == 'pull_request'

      - name: Generate Infracost diff
        run: |
          infracost diff \
                          --config-file=${TF_ROOT}/infracost.yml \
                          --format=json \
                          --compare-to=/tmp/infracost-base.json \
                          --out-file=/tmp/infracost.json
        if: github.event_name == 'pull_request'

      - name: Post Infracost comment
        run: |
          infracost comment github --path=/tmp/infracost.json \
                                    --repo=$GITHUB_REPOSITORY \
                                    --github-token=${{github.token}} \
                                    --pull-request=${{github.event.pull_request.number}} \
                                    --behavior=update
        if: github.event_name == 'pull_request'
